tests/source/Test_Set_Node_conv t.v.3 to 3.2.json
{
  "meta": {
    "instanceId": "ac7c827da56e852a0a6fec36e4b55ade4a0331714f3a850931f8ac704749495e"
  },
  "nodes": [
    {
      "parameters": {
        "jsCode": "return {\n  \"name\": \"Ani\",\n  \"id\": 1,\n  \"new\": true\n}"
      },
      "id": "0c80553a-0076-4c34-926c-b10248d06390",
      "name": "Return items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        3540
      ]
    },
    {
      "parameters": {
        "jsCode": "const assert = require('node:assert');\n\nassert.deepStrictEqual(JSON.parse(JSON.stringify(items[0].json)),\n  {\n    \"id\": 1\n  }\n   );\n\nreturn []"
      },
      "id": "53c465b8-bc7d-4f14-b8d1-7a1412e18670",
      "name": "Assert3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        3640
      ]
    },
    {
      "parameters": {
        "jsCode": "const assert = require('node:assert');\n\nassert.deepStrictEqual(JSON.parse(JSON.stringify(items[0].json)),\n\n  {\n    \"name\": \"Ani\",\n    \"id\": 1,\n    \"new\": true\n  }\n\n   );\n\nreturn []"
      },
      "id": "cd9d8195-2302-4c12-9061-f653531e6480",
      "name": "Assert4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        3460
      ]
    },
    {
      "parameters": {
        "jsCode": "const assert = require('node:assert');\n\nassert.deepStrictEqual(JSON.parse(JSON.stringify(items[0].json)),{\n  \"new\": true,\n  \"id\": 1,\n  \"name\": \"Ani\"\n}\n   );\n\nreturn [];"
      },
      "id": "d5a4d327-d917-472e-a111-07e6b2c6a0e8",
      "name": "Assert5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        3300
      ]
    },
    {
      "parameters": {},
      "name": "Start1",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        3540
      ],
      "id": "2cbf0e55-778d-4194-81d9-d8d7538ac6ed"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "=id",
              "type": "numberValue",
              "numberValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {},
        "include": "none"
      },
      "name": "Keep Only Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        320,
        3640
      ],
      "id": "88d39150-6bfb-4580-b40f-a97958718edf"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "=id",
              "type": "numberValue",
              "numberValue": "={{ $json.id }}"
            },
            {
              "name": "name",
              "stringValue": "={{ $json.name }}",
              "type": "stringValue"
            },
            {
              "name": "new",
              "type": "booleanValue"
            }
          ]
        },
        "options": {},
        "include": "none"
      },
      "name": "Set Expression1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        320,
        3460
      ],
      "id": "23bde919-7ab5-4c84-be28-42d1d07f80dd"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "id",
              "type": "numberValue",
              "numberValue": 1
            },
            {
              "name": "name",
              "stringValue": "Ani",
              "type": "stringValue"
            },
            {
              "name": "new",
              "type": "booleanValue"
            }
          ]
        },
        "options": {},
        "include": "none"
      },
      "name": "Set Fixed1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        120,
        3300
      ],
      "id": "ef7f1931-f2f4-451b-bd6d-1d67b0c2ec39"
    },
    {
      "parameters": {
        "content": "### Expression"
      },
      "id": "82a558fe-de71-46da-95a7-64d210cc82d1",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        3420
      ]
    },
    {
      "parameters": {
        "content": "### Fixed"
      },
      "id": "c092ee31-ce08-40d2-bf50-18a963cf142b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        3260
      ]
    },
    {
      "parameters": {
        "content": "## Set Node",
        "height": 718.6405430005203,
        "width": 541.5906127796065
      },
      "id": "d56a8620-e813-4cc5-95fb-9f77714809a3",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        3220
      ]
    },
    {
      "parameters": {
        "jsCode": "const assert = require('node:assert');\n\nassert.deepStrictEqual(JSON.parse(JSON.stringify(items[0].json)),\n {\n  \"propertyName.name.firstname\": \"valq\"\n}\n   );\n\nreturn []"
      },
      "id": "f8331bf4-ab12-4be3-bb44-ca6c576ec222",
      "name": "Assert7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        3820
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "propertyName.name.firstname",
              "stringValue": "valq",
              "type": "stringValue"
            }
          ]
        },
        "options": {
          "dotNotation": false
        },
        "include": "none"
      },
      "name": "Set Dot Notation1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        140,
        3820
      ],
      "id": "3f51fd89-fc64-439b-8711-b06aa87baa6e"
    }
  ],
  "connections": {
    "Return items": {
      "main": [
        [
          {
            "node": "Keep Only Set1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Expression1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start1": {
      "main": [
        [
          {
            "node": "Return items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Fixed1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Dot Notation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Only Set1": {
      "main": [
        [
          {
            "node": "Assert3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Expression1": {
      "main": [
        [
          {
            "node": "Assert4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fixed1": {
      "main": [
        [
          {
            "node": "Assert5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Dot Notation1": {
      "main": [
        [
          {
            "node": "Assert7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}